@import './base.css';

#app {
    margin: 0 auto;
    font-weight: normal;
}

.img-controller img, .img-controller-inverse img, .n-button img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5 {
    color: var(--light-primary-text-color);
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

h1 {
    font-size: 58px;
    line-height: 80px;
    /* Must check */
    letter-spacing: 0.2px;
}

h3 {
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    color: var(--title-primary-color);
}
