@import './base.css';

#app {
    margin: 0 auto;
    font-weight: normal;
}

:root {
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;

    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
    --color-background: var(--dark-background-color);
    --button-primary-color: var(--primary-color);
    --button-hover-primary-color: var(--primary-color-hover);
    --button-active-primary-color: var(--primary-color-active);
    --link-primary-color: var(--primary-color);
    --icon-primary-color: var(--primary-color);
    --background-shape-primary-color: var(--secondary-color);
    --background-shape-second-color: var(--elipse-color);
    --row-separator-primary-color: var(--danger-color);
    --footer-primary-color: var(--pure-white-color);
    --footer-secondary-color: var(--vt-c-white-soft);
    --title-primary-color: var(--primary-color);
    --light-primary-text-color: var(--pure-white-color);
    --orange-text-color: var(--orange-color);
    --dark-primary-text-color: var(--text-color);
    --dark-secondary-text-color: var(--second-text-color);
    --text-muted-color: var(--muted-color);
    --card-background-primary-color: var(--pure-white-color);
    --color-border: var(--pure-white-color);
    --card-tag-primary-color: var(--danger-color);
    --card-tag-secondary-color: var(--dark-background-color);
    --line-separator-primary-color: var(--danger-color);
    --figure-primary-color: var(--cream-white-color);
}

.img-controller img, .img-controller-inverse img, .n-button img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5 {
    color: var(--light-primary-text-color);
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

h1 {
    font-size: 58px;
    line-height: 80px;
    /* Must check */
    letter-spacing: 0.2px;
}

h3 {
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    color: var(--title-primary-color);
}
